<h2>
  <i class="fa fa-user fa-lg icon-highlight"></i> My Account ({{auth.username}})
</h2>


<h3 class="dotted-below">
  My Owned Sheets
</h3>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
	  <div ng-repeat="sheet in ownedSheets" sheet-preview="sheet">
	  </div>
	</div>
</div>

<h3 class="dotted-below">
  My Active Sheets
</h3>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<div ng-repeat="sheet in activeSheets" sheet-preview="sheet">
		</div>
	</div>
</div>

<h3 class="dotted-below">
  My Completed Sheets
</h3>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<div ng-repeat="sheet in completedSheets" sheet-preview="sheet">
		</div>
	</div>
</div>