<button type="button" class="close" ng-click="cancel();">
  <i class="fa fa-times-circle-o modal-close"></i>
</button>

<div class="modal-header">
  <h3 class="modal-title">Start New Tipping Sheet</h3>
</div>

<div class="modal-body">
  <form name="new_sheet_form" class="form-horizontal" role="form" novalidate>
    <form-element label="Title" mod="sheet">
      <input type="text" class="form-control full-input" name="title" placeholder="Title" ng-model="sheet.title" focus/>
    </form-element>

    <form-element label="Description" mod="sheet">
      <textarea class="form-control full-input" name="description" placeholder="Description" ng-model="sheet.description">{{sheet.description}}</textarea>
    </form-element>

    <form-element label="">
        <div class="text-right">
          <a class="btn" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i> Cancel</a>
          <button ng-click="saveSheet(sheet);"
                  ng-disabled="new_sheet_form.$invalid"
                  class="btn btn-primary"
                  type="submit">
            <i class="ace-icon fa fa-check"></i> Create New Sheet
          </button>
        </div>
      </form-element>
  </form>
</div>